<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/host.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    />
  </head>
  <body> -->
    <div class="desktop-6" id="host_col">
      <!-- <img src="s35.jpg" alt="" style="height:100vh; width:100%;position: absolute; left: 0;"> -->
      <div class="desktop-6-inner" >
       
        <div class="f1uo8rba85cex9wkoeaf-1-09ev4-parent" id="Main_content">
          <img
            class="f1uo8rba85cex9wkoeaf-1-09ev4-icon"
            alt=""
            src="background_frame.png"
          />

          <strong class="want-to-host" id="want_host"
            >Want to Host an Event...
          </strong>
        </div>
      </div>
      <!-- <div class="btn"> -->
      <!-- <button class="host-wrapper" id="host_btn"> -->
      
        <!-- <span class="host1" id="host_txt"> -->
          <div class="h_btn">
          <a href="/host_reg" class="host_btn" id ="host_btn">
          <div class="oo_text">Host</div>
          <img class="hst_img" src="btn_frame.png" alt="">
        </a>
        </div>
        <!-- </span> -->
      <!-- </button> -->
    <!-- </div> -->
    </div>
  <!-- </body>
</html> -->
