<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/about.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  </head>
  <body>
    <div class="about" id="about">

      <img src="s19.jpg" alt="" style="height:100vh; width:100%; position:absolute; top:100vh">
      <div class = "subc">
        <div class="about-us-1-wrapper" id="gif2" abt_gif>
          <img class="about-us-1-icon" src="about-us.gif"alt="About Us" id="g2" />
        </div>
     
        <div class="abt_head " id="about_us_">
          <h1> About Us</h1>
          <p>EventHorizon, your premier online event partner, 
            specializes in crafting seamless and spectacular experiences for 
            a diverse range of occasions. From tech conferences to cultural celebrations,
             we bring versatility to every online platform. With a passion for innovation 
             and an unwavering commitment to excellence, we transform your vision into 
             unforgettable moments. Join us on a journey where events become extraordinary 
             at EventHorizon, your trusted partner in the virtual realm.</p>
        </div>
      </div> 
    
    </div>
    
  </body>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</html>


