<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/contact.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-4" id="bg_3" main_contact>
      <img src="s14.jpg" alt="" style="height:100vh; width:100%;">
      <img class="contact-us-1-icon" src="contact_us.gif" id="gif1" />

      <div class="desktop-4-inner">
        <div class="frame-child" id="div2" contact_div></div>
      </div>
      <div class="frame-parent">
        <div class="contact-us-wrapper">
          <div class="contact-us">
            <span class="contact-us1">Contact us</span>
            <span class="span"> </span>
          </div>
        </div>
        <div class="frame-group" style="height: 5rem">
          <div class="wrapper">
            <img class="icon" alt="" src="Animation - 1706463388292.gif" style="height:100%;width:100%"  />
          </div>
          <div class="container">
            <div class="div">9999999999</div>
          </div>
        </div>
        <div class="frame-container">
          <div class="frame">
            <img class="icon1" alt="" src="Animation - 1706494668553.gif" />
          </div>
          <div class="wwwlinkedincominxyz-wrapper">
            <div class="wwwlinkedincominxyz">
              <p class="blank-line">www.linkedin.com/in/xyz</p>
              <p class="blank-line">&nbsp;</p>
            </div>
          </div>
        </div>
        <div class="frame-div">
          <div class="frame">
            <img class="icon" alt="" src="Animation - 1706495232160.gif" />
          </div>
          <div class="evnthorizongmailcom-wrapper">
            <div class="evnthorizongmailcom">evntHorizon@gmail.com</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
