<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/services.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    />
  </head>
  <body>
    <div class="desktop-2" id="serve2" services >
      <img src="s20.jpg" alt="" style="height:110vh; width:100%">
      <div class="services-we-provide-wrapper">
        <span
          class="services-we-provide-container"
          id="serv_title"
          service_title
        >
          <p class="services">Services</p>
          <p class="services">we provide</p>
        </span>
      </div>
      <div class="frame-parent2 box">
        <div class="instance-wrapper">
          <div class="rectangle-wrapper" id="rec2" evnt_plan_rec>
            <div class="instance-child"></div>
          </div>
        </div>
        <div class="event-planning-wrapper" id="txt5" event_plan_text>
          <div class="event-planning">Event Planning</div>
        </div>
        <div class="event-horizon-helps-to-plan-yo-wrapper">
          <div class="event-horizon-helps-to-plan-yo">
            <div class="event-horizon-helps-container">
              <p class="services">
                Event Horizon helps to plan your college events smoothly. Choose
                the options that fit your needs, and we'll make sure your event
                is memorable!
              </p>
              <p class="services">&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-parent3 box">
        <div class="instance-wrapper">
          <div class="rectangle-wrapper" id="rec3" market_plan_rec>
            <div class="instance-item"></div>
          </div>
        </div>
        <div class="promotions-wrapper" id="tet4" market_pro_text>
          <div class="promotions">Promotions</div>
        </div>
        <div class="elevate-your-events-presence-wrapper">
          <div class="elevate-your-events-container">
            <p class="services">
              Elevate your event's presence with Event Horizon's effortless
              promotion services. We'll showcase your college event to ensure it
              gets the attention it deserves
            </p>
            <p class="services">&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="instance-parent box">
        <div class="rectangle-frame" id="rec1" registation_rec>
          <div class="instance-inner"></div>
        </div>
        <div class="frame-wrapper1" id="text1" reg>
          <div class="registration-wrapper">
            <b class="event-planning" id="text_reg1" text_reg>Registration</b>
          </div>
        </div>
        <div class="simplify-event-sign-ups-with-e-wrapper">
          <div class="elevate-your-events-container">
            <p class="services">
              Simplify event sign-ups with Event Horizon. Our easy registration
              services ensure a smooth process for your college events, making
              attendee management a breeze
            </p>
            <p class="services">&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="instance-group box">
        <div class="rectangle-frame" id="rec4" tech_plan_rec>
          <div class="instance-child1"></div>
        </div>
        <div class="frame-wrapper2" id="text2" tech_int_text>
          <div class="technology-integration-wrapper">
            <strong
              class="technology-integration-container"
              id="tech"
              tech_inti
            >
              <p class="services">Technology & Integration</p>
              <!-- <p class="services">Integration</p> -->
            </strong>
          </div>
        </div>
        <div class="infuse-technology-effortlessly-container">
          <p class="infuse-technology-effortlessly">
            Infuse technology effortlessly into your college events with Event
            Horizon. Our user-friendly features make tech integration simple,
            enhancing the overall event experience for everyone involved."
          </p>
          <p class="services">&nbsp;</p>
          <p class="services">&nbsp;</p>
        </div>
      </div>
      <div class="instance-parent1 box">
        <div class="rectangle-frame" id="rec_5" post_eval_rec>
          <div class="instance-child1"></div>
        </div>
        <div class="frame-wrapper3" id="text2" post_eval_text>
          <div class="technology-integration-wrapper">
            <div class="promotions">
              <p class="services">Postevent</p>
              <p class="services">Evaluvation</p>
            </div>
          </div>
        </div>
        <div class="gain-valuable-insights-container">
          <p class="services">
            Gain valuable insights and feedback with Event Horizon's post-event
            evaluation. We make it simple to collect and analyze feedback,
            helping you enhance future college events and create an even better
            experience for everyone
          </p>
          <p class="services">&nbsp;</p>
        </div>
      </div>
    </div>
  </body> 
</html>
