<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="styles/global.css" />
    <link rel="stylesheet" href="styles/signup.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
  </head>
  <body>
    <div class="desktop-12" id="sign_up">
      <img class="mt_img" src="s15.jpg" alt="">
      <div class="sign-up-parent" >
        <b class="sign-up" style="color: whitesmoke">Sign up</b>
        <form action="/signup" method="POST" class="frame-form" id="main_sign_up">
          <div class="vector-parent">
            <img class="frame-item" alt="" src="s10.jpg" />

            <div class="without-icon-wrapper">
              <div class="without-icon">
                <input
                  class="input"
                  name="last_name"
                  id="lname_i"
                  placeholder="Last name"
                  type="text"
                  required
                  />

                <!-- <input
                  class="fi"
                  name="inp_last_name"
                  placeholder="Last name"
                  type="text"
                /> -->
              </div>
            </div>
            <div class="without-icon-container">
              <div class="without-icon">
                <input
                  class="input"
                  name="email"
                  id="email_i"
                  placeholder="Email"
                  type="email"
                  required
                />    

                <!-- <input
                  class="fi"
                  name="email_txt"
                  placeholder="email"
                  type="email"
                /> -->
              </div>
            </div>
            <div class="without-icon-frame">
              <div class="without-icon">
                <!-- <img class="icon3" alt="" src="./public/1077063-1@2x.png" /> -->
                <input
                  class="input"
                  name="pass_inp"
                  id="pass"
                  placeholder="Password"
                  type="password"
                  required
                />    
                <!-- <input
                  class="fi"
                  name="pass_inp"
                  id="pass_i"
                  placeholder="Password"
                  type="email"
                /> -->
              </div>
            </div>
            <div class="without-icon-wrapper1">
              <div class="without-icon">
                <input
                  class="input"
                  name="cpass_inp"
                  id="cpass"
                  placeholder="Confirm Password"
                  type="password"
                  required
                />    

                <!-- <input
                  class="fi"
                  name="cpass"
                  placeholder="confirm_password"
                  type="password"
                /> -->
              </div>
            </div>
            <div class="without-icon-wrapper2">
              <div class="without-icon">
                <input
                  class="input"
                  name="ph"
                  id="ph_i"
                  placeholder="Phone number"
                  type="text"
                  required
                />    

                <!-- <input class="fi" name="ph_inp" type="text" /> -->
              </div>
            </div>
            <div class="without-icon-wrapper3">
              <div class="without-icon">
                <input
                  class="input"
                  name="college"
                  id="col_i"
                  placeholder="College Name"
                  type="text"
              
                  required
                />    

                <!-- <input class="fi" name="col_input" type="text" /> -->
              </div>
            </div>
            <div class="without-icon-wrapper4">
              <div class="without-icon">
                <input
                  class="input"
                  name="first_name"
                  id="fname_i"
                  placeholder="First name"
                  type="text"
                  required
                />    

                <!-- <input class="fi" name="col_name" type="text" /> -->
              </div>
            </div>
          </div>
          <!-- <div class="login-wrapper" id="main_login_btn"> -->
            <button class="btn btn-dark"  type = "submit" style="transform: scale(1.7); font-size:0.8rem; position:relative; top:0.5rem">Sign up</button>
          <!-- </div> -->
        </form>
      </div>
    </div>
    
<a href="/home"><button type="button" class="btn btn-outline-success" style="position: absolute; right:1rem; bottom:-7rem ; height:3rem; width:12rem; font-family: Poppins, sans-serif; font-size: 1rem; border-radius:0.5rem">Back to home</button></a>
    <script src="all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

  </body>
</html>
